<a href="https://colab.research.google.com/github/DeviArya/DataAnalyticsAssignmentsICT/blob/main/projectcreditcard_eligibility.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importting Libraries**

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots
import plotly.offline as pyo
from plotly import tools

**Loading Dataset**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/ICT DATA SCIENCE/Data Analytics Project/Data set/application_record.csv") 
record=pd.read_csv("/content/drive/MyDrive/ICT DATA SCIENCE/Data Analytics Project/Data set/credit_record.csv")

In [ ]:
print("Number of datapoints for application records: {}".format(len(data)))
print("Number of unique clients in dataset: {}".format(len(data.ID.unique())))

#Checking first 5 rows of data set
data.head()

** Unique clients and rows are not equal,which means there are duplicates.**

In [ ]:
print("Number of datapoints for credit records: {}".format(len(record)))
print("Number of unique clients in dataset: {}".format(len(record.ID.unique())))
record.head()

In [ ]:
len(set(record['ID']).intersection(set(data['ID']))) # checking to see how many records match in two datasets

The number of unique ids in the two datasets is not equal. There are fewer customers than applications in the credit record dataset. The intersection is 36,457 customers.

In [ ]:
#Checking last 5 rows of data set
data.tail()

In [ ]:
record.tail()

In [ ]:
#Checking basic information of the dataset
data.info()

In [ ]:
record.info()

*OCCUPATION_TYPE is the only column that have 134203 null values*

In [ ]:
#Checking column names of data set
data.columns

In [ ]:
record.columns

In [ ]:
#Checking mathematical relationship of dataset
data.describe()

In [ ]:
record.describe()

#discribing column heading in data dataset
		1. ID / unique customer id
		2. CODE_GENDER / gender(M/F)
		3. FLAG_OWN_CAR / own car(Y/N)
		4. FLAG_OWN_REALTY / own property 
		5. CNT_CHILDREN / No. of children 
		6. AMT_INCOME_TOTAL / total income
		7. NAME_INCOME_TYPE / employment type
		8. NAME_EDUCATION_TYPE / level of education
		9. NAME_FAMILY_STATUS / marital status
		10. NAME_HOUSING_TYPE / type of house
		11. DAYS_BIRTH / DOB
		12. DAYS_EMPLOYED / employment tenure/ experience 
		13. FLAG_MOBIL / Own mobile availability
		14. FLAG_WORK_PHONE / work phone availability
		15. FLAG_PHONE / phone availability 
		16. FLAG_EMAIL / email availability 
		17. OCCUPATION_TYPE / occupation type
		18. CNT_FAM_MEMBERS / No. of family members 

#discribing column heading in record data set
    1. ID / coustomer id
    2. MONTHS_BALANCE /account balence 
    3. STATUS

## Missing Values

In [ ]:
import missingno as msno

In [ ]:
plt_missing_1 = msno.matrix(data)
plt_missing_1.set_title("Missing Data for application records dataset",fontsize=20)

In [ ]:
plt_missing_2 = msno.matrix(record)

plt_missing_2.set_title("Missing Data for credit records dataset",fontsize=20)

In [ ]:
unique_counts = pd.DataFrame.from_records([(col, data[col].nunique()) for col in data.columns],
                          columns=['Column_Name', 'Num_Unique']) # finding unique values in each column
unique_counts

In [ ]:
unique_counts = pd.DataFrame.from_records([(col, record[col].nunique()) for col in record.columns],
                          columns=['Column_Name', 'Num_Unique'])
unique_counts

***Data Visualization***

In [ ]:
#visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [ ]:

def draw_histograms(data, variables, n_rows, n_cols):
    fig=plt.figure()
    for i, var_name in enumerate(variables):
        ax=fig.add_subplot(n_rows,n_cols,i+1)
        data[var_name].hist(bins=10,ax=ax,color='#cd1075',edgecolor='black',linewidth=1.2)
        ax.set_title(var_name+" Distribution")
    fig.tight_layout()  # Improves appearance a bit.
    plt.show()

test = data[["CNT_CHILDREN","AMT_INCOME_TOTAL","DAYS_BIRTH","DAYS_EMPLOYED"]]
draw_histograms(test, test.columns, 2, 2)

In [ ]:
def draw_boxplot(data, variables, n_rows, n_cols):
    fig=plt.figure()
    for i, var_name in enumerate(variables):
        ax=fig.add_subplot(n_rows,n_cols,i+1)
        sns.boxplot(data[var_name])
        ax.set_title(var_name+" Distribution")
    fig.tight_layout()  # Improves appearance a bit.
    plt.show()

test = data[["CNT_CHILDREN","AMT_INCOME_TOTAL","DAYS_BIRTH","DAYS_EMPLOYED"]]
draw_boxplot(test, test.columns, 2, 2)

There are outliers in 2 columns.

CNT_CHILDREN

AMT_INCOME_TOTAL

In [ ]:
#heatmap_dataset=data[["CNT_CHILDREN","AMT_INCOME_TOTAL","DAYS_BIRTH","DAYS_EMPLOYED"]]
#sns.heatmap(heatmap_dataset, cmap='YlGnBu')

In [ ]:
fig, axes = plt.subplots(1,2)

g1= sns.countplot(y=data.NAME_HOUSING_TYPE,linewidth=1.2, ax=axes[0])
g1.set_title("Customer Distribution by Housing Type")
g1.set_xlabel("Count")
g1.set_ylabel("Housing Type")

g2= sns.countplot(y=data.NAME_EDUCATION_TYPE, ax=axes[1])
g2.set_title("Customer Distribution by Education")
g2.set_xlabel("Count")
g2.set_ylabel("Education Type")

fig.set_size_inches(14,5)

plt.tight_layout()

plt.show()

In [ ]:
fig, axes = plt.subplots(1,3)

g1= data['CODE_GENDER'].value_counts().plot.pie(ax=axes[0],explode = [0.1,0.1],autopct='%1.1f%%')
g1.set_title("Customer Distribution by Gender")

g2= data['FLAG_OWN_CAR'].value_counts().plot.pie(ax=axes[1],explode = [0.1,0.1],autopct='%1.1f%%')
g2.set_title("Car Ownership")

g3= data['FLAG_OWN_REALTY'].value_counts().plot.pie(ax=axes[2],explode = [0.1,0.1],autopct='%1.1f%%')
g3.set_title("Realty Ownership")

fig.set_size_inches(14,5)

plt.tight_layout()

plt.show()

# **3 - Data Preprocessing & Feature Engineering**

In [ ]:
#remove duplicate values and keep the last entry of the ID if its repeated.
data=data.drop_duplicates('ID', keep='last')
#the occupation type has missing values, we dropped them.
data.drop('OCCUPATION_TYPE', axis=1, inplace=True)

In [ ]:
#object columns in dataset
object_columns = data.columns[data.dtypes =='object'].tolist() 
unique_counts = pd.DataFrame.from_records([(col, data[object_columns][col].nunique()) for col in data[object_columns].columns],
                          columns=['Column_Name', 'Num_Unique']).sort_values(by=['Num_Unique'])

unique_counts #unique counts for object columns

We have filtered the columns that have non numeric values to see if they are useful. We will convert them numeric.

In [ ]:
#renaming columns

data.rename(columns={"CODE_GENDER":"Gender","FLAG_OWN_CAR":"Own_Car","FLAG_OWN_REALTY":"Own_Realty",
                     "CNT_CHILDREN":"Children_Count","AMT_INCOME_TOTAL":"Income","NAME_EDUCATION_TYPE":"Education",
                     "NAME_FAMILY_STATUS":"Family_Status","NAME_HOUSING_TYPE":"Housing_Type","DAYS_BIRTH":"Birthday",
                     "DAYS_EMPLOYED":"Employment_Date","FLAG_MOBIL":"Own_Mobile","FLAG_WORK_PHONE":"Own_Work_Phone",
                     "FLAG_PHONE":"Own_Phone","FLAG_EMAIL":"Own_Email","CNT_FAM_MEMBERS":"Family_Member_Count",
                    "NAME_INCOME_TYPE":"Income_Type"},inplace=True)

In [ ]:
#merge to record data
open_month=pd.DataFrame(record.groupby(["ID"])["MONTHS_BALANCE"].agg(min))
open_month=open_month.rename(columns={'MONTHS_BALANCE':'begin_month'}) 
customer_data=pd.merge(data,open_month,how="left",on="ID")

In [ ]:
customer_data.head()

In [ ]:
#converting categoric features into numeric
customer_data["Gender"] =  customer_data['Gender'].replace(['F','M'],[0,1])
customer_data["Own_Car"] = customer_data["Own_Car"].replace(["Y","N"],[1,0])
customer_data["Own_Realty"] = customer_data["Own_Realty"].replace(["Y","N"],[1,0])
customer_data["Is_Working"] = customer_data["Income_Type"].replace(["Working","Commercial associate","State servant","Pensioner","Student"],[1,1,1,0,0])

customer_data["In_Relationship"] = customer_data["Family_Status"].replace(["Civil marriage","Married","Single / not married",
                                                                          "Separated","Widow"],[1,1,0,0,0])

housing_type = {'House / apartment' : 'House / apartment',
                   'With parents': 'With parents',
                    'Municipal apartment' : 'House / apartment',
                    'Rented apartment': 'House / apartment',
                    'Office apartment': 'House / apartment',
                    'Co-op apartment': 'House / apartment'}

customer_data["Housing_Type"] = customer_data['Housing_Type'].map(housing_type)

family_status = {'Single / not married':'Single',
                     'Separated':'Single',
                     'Widow':'Single',
                     'Civil marriage':'Married',
                    'Married':'Married'}

customer_data["Family_Status"] = customer_data["Family_Status"].map(family_status)

education_type = {'Secondary / secondary special':'secondary',
                     'Lower secondary':'secondary',
                     'Higher education':'Higher education',
                     'Incomplete higher':'Higher education',
                     'Academic degree':'Academic degree'}

customer_data["Education"] = customer_data["Education"].map(education_type)

income_type = {'Commercial associate':'Working',
                  'State servant':'Working',
                  'Working':'Working',
                  'Pensioner':'Pensioner',
                  'Student':'Student'}

customer_data["Income_Type"] = customer_data["Income_Type"].map(income_type)

customer_data["Household_Size"] = customer_data["Children_Count"] + customer_data["In_Relationship"].apply(lambda x: 2 if x==1 else 1)

customer_data["Age"] = round((customer_data.Birthday/365)*-1)

customer_data["Experience"] = customer_data.Employment_Date/365
customer_data['Experience']=customer_data['Experience'].apply(lambda v : int(v*-1) if v <0 else 0)

customer_data=customer_data.drop(columns=['Employment_Date','Birthday','Children_Count'])

customer_data= pd.get_dummies(customer_data, columns=['Income_Type', 'Education','Family_Status',"Housing_Type"])

In [ ]:
customer_data.head()

In [ ]:
print(customer_data.shape)
print(customer_data.columns)
print(' mean of Incomes :\n----------------\n',customer_data['Income'].describe())
print(customer_data['Income'].skew())
print(' mean of Age :\n----------------\n',customer_data['Age'].describe())
print(customer_data['Age'].skew())

Income follows a heighly skewd distribution

**We will look at numeric columns to see if there is anything that needs to be changed.**

In [ ]:
other_numerical_cols = ["Income","Age","Experience","Household_Size"]

fig = make_subplots(rows=2, cols=2, start_cell="bottom-left",
                   subplot_titles=("Income", "Age", "Experience", "Family Member Count"))

fig.add_trace(go.Box(x=customer_data.Income, name='Income',boxmean=True),row=1,col=1)
fig.add_trace(go.Box(x=customer_data.Age, name='Age', boxmean=True), row=1, col=2)
fig.add_trace(go.Box(x=customer_data.Experience, name='Experience', boxmean=True), row=2, col=1)
fig.add_trace(go.Box(x=customer_data.Household_Size, name="Family Member Count", boxmean=True),row=2, col=2)

fig.show()

As seen above, there are some outliers values in children count, family member count, income and employment rate columns

We need to remove these outliers to make sure they do not affect our model results.
We will now remove these outliers by using z scores.

In [ ]:
def calculate_z_scores(df, cols):
    for col in cols:
        df[col+"_z_score"] = (df[col] - df[col].mean())/df[col].std()
    return df

df_2 = calculate_z_scores(df = customer_data, cols = ["Income","Experience","Household_Size"])


#removing outliers
filter_2 = df_2.Household_Size_z_score.abs() <= 3.5
filter_3 = df_2.Experience_z_score.abs() <= 3.5
filter_4 = df_2.Income_z_score.abs() <= 3.5

customer_apps = df_2[filter_2 & filter_3 & filter_4]

customer_apps.drop(columns= ["Income_z_score","Experience_z_score","Household_Size_z_score"],inplace=True)

In [ ]:
other_numerical_cols = ["Income","Age","Experience","Family_Member_Count"]

fig = make_subplots(rows=2, cols=2, start_cell="bottom-left",
                   subplot_titles=("Income", "Age", "Experience", "Family Member Count"))

fig.add_trace(go.Box(x=customer_apps.Income, name='Income',boxmean=True),row=1,col=1)
fig.add_trace(go.Box(x=customer_apps.Age, name='Age', boxmean=True), row=1, col=2)
fig.add_trace(go.Box(x=customer_apps.Experience, name='Experience', boxmean=True), row=2, col=1)
fig.add_trace(go.Box(x=customer_apps.Household_Size, name="Family Member Count", boxmean=True),row=2, col=2)

fig.show()